.custom-input {
    position: relative;
    margin-top: 20px;
}

.custom-input label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
    color: #aaa;
    pointer-events: none;
}

.custom-input input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.custom-input label.active {
    top: 0;
    transform: translateY(-100%);
    font-size: 12px;
    color: #666;
}

.custom-input input:focus {
    border-color: #666;
    outline: none;
}

.custom-input input:focus + label,
.custom-input input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-100%);
    font-size: 12px;
    color: #666;
}