/*@import './base.css';*/
@import './custom-input.css';

html,body,#app{
  height: 100%;
  padding: 0;
  margin: 0;
}
#app {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*font-weight: normal;*/
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.app-content{
  flex-grow: 1;
  background: rgba(105, 105, 105, 0.44);
}

header{
  align-self: stretch;
  flex-basis: 76px;
  outline: 2px solid red;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-nav{
  display: flex;
column-gap: 2em;
}

footer{
  align-self: stretch;
  flex-basis: 76px;
  outline: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*a,*/
/*.green {*/
/*  text-decoration: none;*/
/*  color: hsla(160, 100%, 37%, 1);*/
/*  transition: 0.4s;*/
/*  padding: 3px;*/
/*}*/

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
